<html>
    <head>
        <script src="runner.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="w3-bar w3-green" style="font-size: x-large; text-align: center;">NogginStats</div>
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button tablink w3-green" onclick="openTab(event, 'Submit')">Submit</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Journal')">Journal</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Graphs')">Graphs</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Settings')">Settings</button>
        </div>
        <div id="Submit" class="tab" style="display: none">
            <div id="stats-box-container">
                <div id="stats-box">
                    <input id="stat-date" class="stat-input" type="date" value="{{ today }}">
                    {% for title, id, has_comment in stats %}
                    {% if has_comment %}
                    <span class="title-check"><h4 style="display: inline;">{{ title }}</h4>
                    <input id="{{ id }}-checked" type="checkbox" class="stat-bool stat-input">
                    </span>
                    <h5>Notes:</h5>
                    <textarea id="{{ id }}-txt" class="stat-notes stat-input"></textarea>
                    <br><br>
                    {% else %}
                    <h4>{{ title }}</h4>
                    <label id="{{ id }}-label">5</label>&nbsp;&nbsp;&nbsp;<input id="{{ id }}-range" class="stat-range stat-input" type="range" min="1", max="10", step="1" value="5" oninput="document.getElementById('{{ id }}-label').innerHTML = this.value">
                    <br><br>
                    {% endif %}
                    {% endfor %}
                    <button id="stat-button" class="w3-button w3-green w3-round-large w3-block" onclick="submit()">Submit</button>
                </div>
            </div>
        </div>

        <div id="Journal" class="tab">
            <h2>Journal</h2>
            <div id="journal-container">
                <div class="journal-entry">
                    <div class="journal-head">
                        00/00/00
                    </div>
                    <div class="journal-content">
                        <table>
                            <colgroup>
                                <col style="width: 70%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <tr>
                                <td><b>Depression</b></td>
                                <td>10</td>
                            </tr>
                            <tr onclick="reveal('nutrition-deets-00/00/00')">
                                <td><b>Nutrition</b></td>
                                <td>&#9989;</td>
                            </tr>
                            <tr class="journal-deets" id="nutrition-deets-00/00/00">
                                <td colspan="2">Extremely long and highly detailed text goes here regarding the nature of the above</td>    
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="Graphs" class="tab" style="display:none">
            <h2>Graphs</h2>
        </div>

        <div id="Settings" class="tab" style="display:none">
            <h2>Settings</h2>
        </div>
    </body>
</html>