<html>
    <head>
        <script src="static/runner.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    </head>
    <body>
        <div class="w3-bar w3-green" style="font-size: x-large; text-align: center;">NogginStats</div>
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button tablink w3-green" onclick="openTab(event, 'Stats')">Stats</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Graphs')">Graphs</button>
            <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Settings')">Settings</button>
        </div>
        <div id="Stats" class="tab">
            <h2>Stats</h2>
        </div>

        <div id="Graphs" class="tab" style="display:none">
            <h2>Graphs</h2>
        </div>

        <div id="Settings" class="tab" style="display:none">
            <h2>Settings</h2>
        </div>
    </body>
</html>